<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h2>사용자 정의 이벤트</h2>
    <div id="app">
      <button v-on:click="doAction">메세지전송</button>
      <h2>{{message}}</h2>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          message: "",
        },
        methods: {
          doAction() {
            // 감시하고 있던 sendMsg에 이벤트가 발생하면 "안녕하세요 여러분"이 msg에 들어간다.
            this.$emit("sendMsg", "안녕하세요 여러분");
          },
        },
        created() {
          //$0n sendMsg가 언제 올지 모르니까 감시하고 있어라 !
          this.$on("sendMsg", (msg) => {
            alert(msg);
            this.message = msg;
          });
        },
      });
    </script>
  </body>
</html>
